@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Azure Devops </h1>
    <p>Devops Pipeline Windows CI CD Deploy Azure App Service Linux </p>
</div>